configuration {
    modes: "drun,run";
    font: "JetBrains Mono Nerd Font 10";
    show-icons: true;
    terminal: "ghostty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window ";
    display-Network: " 󰤨  Network ";
    sidebar-mode: true;
}

@theme "theme"
